h1 {
    margin-top: 5px;
}

.dangerButton {
    background-color: tomato;
}

.pairCard {
    border: 1px solid var(--secondary-color);
    padding: 5px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.cardOutput {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}

.buttonBar {
    display: flex;
    justify-content: center;
}

.p2 table {
    border-collapse: collapse;
}

.p2 td:first-child {
    border-right: 1px solid var(--font-light);
}

.p2 tr {
    vertical-align: text-top;
    text-align: center;
}

.p2 tr:nth-child(even) {
    background-color: var(--secondary-color);
}

li {
    list-style: none;
    font-size: 18px;
}

.pairCard:hover {
    background-color: var(--secondary-color);
}

.popupConnectBody {
    display: grid;
    grid-template-columns: repeat(2, 1fr) 25px;
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 5px;
}

.popupConnectBody * {
    font-size: 18px;
}

#selectSubjectConnect,
#selectTeacherConnect,
#selectStudentConnect {
    width: calc(100% - 10px) !important;
}
